.services {
  background: transparent;
  text-align: left;
}


.services h1 {
  font-size: 45px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.services p {
  margin-bottom: 40px;
}

.services .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.services .cards .card {
  background: #252525;
  padding: 30px 40px;
  padding-bottom: 40px;
  margin: 10px;
  border-radius: 10px;
  /* box-shadow: 0 8px 60px #eee; */
  text-align: left;
}

.services .cards .card p::selection {
  background: #070707;
}

.services .cards .card h2::selection {
  background: #070707;
}

.services .cards .card img {
  height: 120px;
}

.services .cards .card h2 {
  color: #fff;
}

.services .cards .card p {
  text-align: left;
  color: lightgray;
  margin-bottom: auto;
}

.services .questions {
  margin-top: 80px;
  text-align: left;
}

.services .questions h1 {
  font-size: 35px;
}

.services .questions .details {
  background: #252525;
  padding: 30px 20px;
}

.services .questions .details details {
  padding: 20px 0;
  border-bottom: 1px solid gray;
  cursor: pointer;
  margin: 10px;
  transition: 0.3s;
}

.services .questions .details details:nth-child(1) {
  padding-top: 0;
  margin-top: 5px;
}

.services .questions .details details summary {
    font-size: 20px;
    color: #fff;
    list-style: none;
    font-weight: bold;
    word-spacing: 2.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services .questions .details details summary span::selection {
  background: #070707;
}

.services .questions .details details p {
  cursor: text;
}

.services .questions .details details p::selection {
  background: #070707;
}

.services .questions .details details summary b {
  height: 5px;
  width: 5px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  border-radius: 50%;
}

@keyframes pulse {
  from {
    box-shadow: #fff 0 0 0 0;
  }

  to {
    box-shadow: transparent 0 0 0 10px;
  }
}

.services .questions .details details p {
  color: #eeeeee;
  font-weight: initial;
  font-size: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
}

@media only screen and (max-width: 1100px) {
  .services .cards {
    grid-template-columns: 2fr 2fr;
  }
}

@media only screen and (max-width: 800px) {
  .services .cards {
    grid-template-columns: 2fr;
  }
}

@media only screen and (max-width: 600px) {
  .services .cards {
    grid-template-columns: 2fr;
  }

  .services .cards .card {
    margin: 10px 0;
    padding: 30px 20px;
  }

  .services .questions .details details {
    cursor: none;
  }

  .services .cards .card p {
    text-align: justify;
  }
}
