.overview {
  padding: 20px 0;
  text-align: left;
}

.overview h1 {
  color: #303030;
  font-size: 40px;
}

.overview .overview1 {
  padding: 25px 0;
  padding-top: 0;
}

.overview .overview1 h2 {
  color: #303030;
  font-size: 25px;
  margin-top: 50px;
}

.overview .profile {
  padding: 25px 0;
}

.overview .profile h1 {
  color: #303030;
  font-size: 40px;
}

.overview .profile h2 {
  color: #303030;
  font-size: 25px;
  margin-top: 50px;
}
