/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Roboto:wght@300;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins&family=Roboto:wght@300;700&display=swap');

body {
  /*margin: 0;*/
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #e3fff6, transparent);
  background-repeat: no-repeat;
}

* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
  transition: 0.3s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
}

.open
  body {
    background: red;
  }

.divider {
  height: 1px;
  width: 44px;
  background: #252525;
}

h1, h2 {
  color: #303030;
}

p {
  line-height: 35px;
  font-size: 17px;
  color: #303030;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}

button:hover {
  transform: scale(1.02);
}
/*
@media only screen and (max-width: 600px) {
  * {
    cursor: none;
  }
}
*/
